# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep
